div.md-subhead(layout="row" layout-align="start center" flex)
  | and, I want to
  md-autocomplete(
    md-floating-label="do something..."
    md-autoselect="true"
    md-select-on-match="true"
    md-selected-item="fixture.selected"
    md-search-text="$select.search_text"
    md-items="fixture in get_matches($select.search_text)"
    md-item-text="fixture.name"
  )
    md-item-template
      span(md-highlight-text="$select.search_text") {{ fixture.name }}
  | every
  md-input-container
    label
      | frequency
    input(any-number type="number" name="frequency" ng-model="fixture.selected.frequency")
  |, or so, days.

//div(layout="row")
//  {{ fixture.selected }}

.md-actions(layout="row" layout-align="end center")
  md-button(ng-click="create_from_fixture()") Make It So

